# Application
NODE_ENV=development
PORT=3000

# Database (MongoDB)
MONGODB_URI="mongodb://localhost:27017/thewovencloudkitchen"
DB_NAME=thewovencloudkitchen

# API
API_PREFIX=/api

# Logging
LOG_LEVEL=info
